<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClassEnglishGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClassEnglishGame.Properties.Settings>
            <setting name="TalkInMinuteTiming" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TabooTiming" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CharadesTiming" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="WhoAmITiming" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PictureDashTiming" serializeAs="String">
                <value>6</value>
            </setting>
        </ClassEnglishGame.Properties.Settings>
    </userSettings>
</configuration>